<Configuration status="info" name="log" packages="com.leapfin.search">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
	    <Logger name="com.leapfin.search" level="info" additivity="false">
	      <AppenderRef ref="stdout"/>
	    </Logger>
	    <Root level="error">
	      <AppenderRef ref="stderr"/>
	    </Root>
	  </Loggers>
</Configuration>
